<!doctype html>

<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chess.css' %}">
    <script type="text/javascript" src="{% static 'chess.js' %}"></script>

    <!--Bootstrap-->
    {% include "bootstrap.html" %}

</head>

<body>
    {% include "navigation.html" %}

    &nbsp;
    <div class="container">

        <h1>The Very Important Pieces</h1>

        &nbsp;

        <h2>King &#9812; &#9818; </h2>
        <li>
            There is one king per player. Slay him to claim victory!
        </li>
        <li>
            Can move one square in any direction
        </li>
        <h2>
            Rook &#9814; &#9820;
        </h2>
        <li>
            Can move any number of squares along the rows and columns.
        </li>
        <li>
            Cannot leap over other pieces.
        </li>


        <h2>
            Bishop &#9815; &#9821;
        </h2>
        <li>
            Can move any number of squares diagonally.
        </li>
        <li>
            Cannot pass over chess pieces.
        </li>

        <h2>Queen &#9813; &#9819;</h2>
        <li>
            Can move any number of pieces diagonally, horrizontally, or vertically.
        </li>
        <li>
            Cannot leap over other pieces.
        </li>
        <h2>Knight &#9816; &#9822;</h2>
        <li>
            Moves in an L shaped form.
        <li>
            Two squares vertically and on square horrizontally, or two squares horrizontally and one square vertically.
        </li>
        <li>
            The knight is the only piece that can leap over other pieces.
        </li>
        </li>
        <h2>Pawn &#9817; &#9823;</h2>
        <li>
            Can move forwared to the unoccpied quare in front of it.
        </li>
        <li>
            Can advance forward two squares on its first move.
        </li>
        <li>
            Can capture a piece on a square diagonally in front of it.
        </li>
        <li>
            Can be promoted and exchanged for a queen, rook, bishop, or knight of the same color upon reaching the end
            of
            the chess board.
        </li>
    </div>
</body>

</html>